header {
    position: absolute;
    left: 0;
    right: 0;
    top: 1em;
    z-index: 9;

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3em 0.5em;
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-radius: 5em;
    }

    .logo {
        a {
            img {
                height: 2em;
            }
        }
    }

    .navs, .nav-user {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
        }
    }

    .navicon,
    input[type=checkbox] {
        display: none;
    }

    .navicon {
        padding: 0.2em 0;
        width: 2.5em;
        
        span {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.25em;
            width: 1.7em;
            height: 0.3em;
            border-radius: 1px;
            background-color: #0D1A63;
            transition: transform 0.3s;

            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }

    .navs {
        display: flex;

        li {
            margin-right: 0.5em;

            a {
                padding: 0.4em 0;
                width: 5.2em;
                border-radius: 2em;
                text-decoration: none;
                text-align: center;
                color: #0D1A63;
                transition: background-color 0.3s, color 0.3s;

                &.actived,
                &:hover {
                    background-color: #0D1A63;
                    color: #fff;
                }
            }
        }
    }

    .nav-user {
        li {
            margin-right: 0;
            margin-left: 0.3em;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .header-inner {
            position: relative;
            justify-content: flex-start;
        }
        .logo {
            order: 1;
        }
        .navicon {
            display: block;
            order: 3;
        }
        .nav-user {
            order: 2;
            flex: 10;
            padding-right: 0.5em;
            text-align: right;
        }
        .navs {
            display: block;
            flex: none;
            position: absolute;
            top: 100%;
            right: -10em;
            width: 0;
            opacity: 0;
            background-color: #fff;
            overflow: hidden;
            border-radius: 0.4em;
            transition: right 0.3s ease-in, opacity 0.3s ease-in, width 0.3s;

            li {
                display: block;
                margin-right: 0;

                a {
                    padding-left: 0.7em;
                    padding-right: 0.7em;
                    width: 100%;
                    border-radius: 0;
                    text-align: left;
                }
            }
        }

        input[type=checkbox]:checked + label {
            span {
                margin-bottom: -0.3em;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    display: none;
                }
            }
        }

        input[type=checkbox]:checked + label + menu {
            right: 0;
            opacity: 1;
            width: 10em;
        }
    }
}