.sec-intro {
    background-image: url('../img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 30em;
    }

    .slogan {
        justify-self: center;
        align-self: center;

        h1, h2 {
            margin: 0 auto;
            width: 70%;
            font-weight: normal;
            text-shadow: 0 0 0.3em rgba($color: $colorBlack, $alpha: 1.0);
            text-align: center;
            color: $colorWhite;
        }

        h1 {
            font-family: "Anton", sans-serif;
            
            
            font-size: 3em;
            
        }

        h2 {
            margin-top: 0.5em;
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.5;
            text-shadow: 1px 1px 0 $colorBlack;
        }
    }

    .search-form {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 0 1em;
            width: 80%;
            height: 4.5em;
            background-color: rgba($color: $colorWhite, $alpha: 1);
            border-radius: 5em;
            box-shadow: 0 0 1em rgba($color: $colorBlack, $alpha: 0.3);
            text-align: center;

            .select, .btn {
                height: 2.5em;
                font-size: 1em;
            }

            .select {
                margin-right: 0.7em;
                padding: 0 0.6em;
                background-color: $colorWhite;
                border-radius: 3em;
                border: 1px solid #999;

                &, &::picker(select) {
                    appearance: base-select;    
                }

                &::picker(select) {
                    border-radius: 0.5em;
                    border-color: transparent;
                    box-shadow: 0 0 1em rgba($color: $colorBlack, $alpha: 0.3);
                }

                &::picker-icon {
                    padding-top: 0.5em;
                    padding-right: 0.4em;
                    color: #444;
                }

                option {
                    padding: 0.4em 1em;
                    transition: background-color 0.3s;

                    &:nth-child(odd) {
                        background-color: #eee;
                    }

                    &::checkmark {
                        order: 1;
                        margin-left: auto;
                        content: "\f058";
                        font-family: "FontAwesome";
                    }

                    &:hover {
                        background-color: #bbb;
                    }

                    i {
                        width: 1.2em;
                    }
                }

                button selectedcontent {
                    width: 100%;
                    padding-top: 0.5em;
                    text-align: center;
                    white-space: nowrap;

                    i {
                        padding-right: 0.3em;
                    }
                }

                &-location {
                    flex: 2;
                }

                &-rent {
                    flex: 1;
                }

                &-house {
                    flex: 1;
                }
            }

            .btn {
                width: 6em;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .sec-intro {
        &-inner {
            height: 70vh;
            min-height: 30em;
        }

        .slogan {
            h1 {
                font-size: 2.6em;
            }
        }

        .search-form {
            form {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .sec-intro {
        &-inner {
            height: 50vh;
            min-height: 25em;
        }

        .slogan {
            h1 {
                font-size: 1.8em;
                white-space: nowrap;
            }

            h2 {
                font-size: 1em;
            }
        }

        .search-form {
            form {
                width: 100%;

                .select-location, .select-rent {
                    display: none;
                }
            }
        }
    }
}