.filter-buttons {
    .select-group {
        .select {
            margin-bottom: 0.7em;

            &-location {
                width: 18em;
            }
            &-rent {
                width: 12em;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 0.3em;

            &.actived {
                a {
                    &, &:hover {
                        background-color: $colorBlack;
                        color: $colorWhite;
                    }
                }
            }

            a {
                padding: 0.5em 1em;
                background-color: $colorWhite;
                border-radius: 2em;
                text-decoration: none;
                font-size: 1em;
                color: $colorBlack;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $colorLightGray;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .filter-buttons {
        .select-group {
            .select {
                &-location,
                &-rent {
                    width: 100%;
                }
            }
        }
    }
}