.latest-properties {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em -0.5em 0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
        padding: 0 0.5em;
        width: 25%;

        &:nth-child(3),
        &:nth-child(4) {
            .detail {
                left: auto;
                right: 100%;
            }
        }
    }
}

.latest-item {
    position: relative;

    &.pin {
        .info {
            height: 0;
        }
        .detail {
            display: block;
        }
    }

    figure {
        height: 20em;
        border-radius: 0.5em;
        overflow: hidden;

        a {
            font-size: 0;
            height: 100%;

            img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.7em;
        height: 2.3em;
        overflow: hidden;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        background-color: rgba($color: $colorBlack, $alpha: 0.5);
        transition: height 0.3s ease;
    }

    .detail {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 9;
        padding: 0.5em 1em;
        width: 210%;
        height: 100%;
        background-color: $colorWhite;
        box-shadow: 0 0 1em rgba($color: $colorBlack, $alpha: 0.3);
        font-size: 0.9em;
        animation: fadeIn 0.3s ease;
        color: $colorGray;

        h4 {
            margin: 0.2em 0 0.7em;
            font-size: 1.1em;
            white-space: nowrap;
            color: $colorBlack;
        }

        p {
            margin: 0.3em 0;
            padding-bottom: 0.7em;
            line-height: 1.3;
            border-bottom: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
        }

        i {
            font-size: 1.1em;
            color: $colorBlack;
        }

        strong, ul, dl {
            margin: 1em 0 0 0;
        }

        strong {
            display: block;
            font-weight: normal;

            i {
                margin-right: 0.5em;
            }
        }
        

        ul {
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-right: 1.5em;

                i {
                    margin-right: 0.2em;
                }
            }
        }

        dl {
            float: left;
            width: 33.3333%;
            
            dt, dd {
                display: block;
                margin: 0;
            }
            dt {
                margin-bottom: 0.3em;
                i {
                    margin-right: 0.2em;
                }
            }
            dd {
                font-size: 1.3em;
            }
        }
    }

    .btns {
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        white-space: nowrap;

        a {
            width: 1.7em;
            height: 1.7em;
            border-radius: 0.2em;
            background-color: rgba($color: $colorBlack, $alpha: 0.5);
            color: $colorWhite;
            font-size: 1.1em;
            text-decoration: none;
            text-align: center;
            line-height: 1.7;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: rgba($color: $colorWhite, $alpha: 0.5);
                color: $colorBlack;
            }
        }
    }

    h3 {
        margin: 0;
        width: 100%;
        font-weight: normal;
        font-size: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
            width: 100%;
            text-decoration: none;
            color: $colorWhite;
        }
    }
}