.properties-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
        padding: 0 0.5em;
        width: 33.3333%;
    }
}

.property-item {
    $subFontSize: 0.9em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    padding: 0.5em;
    border: 1px solid $colorBlack;
    border-radius: 0.5em;

    &:before {
        content: '';
        position: absolute;
        top: -3px;
        right: -3px;
        bottom: -3px;
        left: -3px;
        z-index: -1;
        border: 3px solid transparent;
        border-radius: 0.6em;
        transition: border-color 0.3s linear;
    }

    &:hover {
        border-color: transparent;

        &:before {
            border-color: $colorThird;
        }
    }

    figure, h3, ul {
        width: 100%;
    }

    figure {
        height: 13.5em;
        border-radius: 0.5em;
        overflow: hidden;

        a {
            width: 100%;
            height: 100%;
            font-size: 0;

            img {
                width: 100%;
            }
        }
    }

    h3 {
        margin: 0.5em 0 0.3em;
        font-size: 1.3em;
        font-weight: bold;
    }

    ul {
        display: flex;
        margin: 0.4em 0 0.7em;
        padding: 0;
        list-style: none;

        li {
            flex: 1;
            text-align: left;
            font-size: $subFontSize;
            color: #444;

            i {
                display: block;
                margin-bottom: 0.2em;
            }
        }
    }

    p {
        display: block;
        margin: 0;
        width: 70%;
        height: 2.8em;
        font-size: $subFontSize;
        line-height: 1.4;
        color: $colorGray;

        i {
            margin-right: 0.3em;
        }
    }

    .btns {
        padding-left: 0.7em;
        width: 30%;
        align-self: center;

        a {
            width: 100%;
            font-size: $subFontSize;
        }
    }
}