.select {
    margin-right: 0.7em;
    padding: 0 0.6em;
    height: 2.5em;
    font-size: 1em;
    background-color: $colorWhite;
    border-radius: 3em;
    border: 1px solid #999;

    &, &::picker(select) {
        appearance: base-select;    
    }

    &::picker(select) {
        border-radius: 0.5em;
        border-color: transparent;
        box-shadow: 0 0 1em rgba($color: $colorBlack, $alpha: 0.3);
    }

    &::picker-icon {
        padding-top: 0.5em;
        padding-right: 0.4em;
        color: #444;
    }

    option {
        padding: 0.4em 1em;
        transition: background-color 0.3s;

        &:nth-child(odd) {
            background-color: #eee;
        }

        &::checkmark {
            order: 1;
            margin-left: auto;
            content: "\f058";
            font-family: "FontAwesome";
        }

        &:hover {
            background-color: #bbb;
        }

        i {
            width: 1.2em;
        }
    }

    button selectedcontent {
        width: 100%;
        padding-top: 0.5em;
        text-align: center;
        white-space: nowrap;

        i {
            padding-right: 0.3em;
        }
    }

    &-location {
        flex: 2;
    }

    &-rent {
        flex: 1;
    }

    &-house {
        flex: 1;
    }
}