.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
    padding: 0;
    list-style: none;

    li {
        padding: 0.45em 0.5em;
        width: 50%;
    }
}

.service-item {
    position: relative;
    padding: 1.5em 1em 1.5em 25%;
    border: 1px solid $colorBlack;
    border-radius: 0.5em;
    overflow: hidden;
    min-height: 5em;
    height: 100%;

    figure {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 0 1em;
        width: 25%;

        img {
            width: 100%;
        }
    }

    h3, p {
        margin: 0;
        font-size: 1em;
    }

    h3 {
        margin-bottom: 0.5em;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $colorBlack;
        }
    }

    p {
        color: $colorGray;
    }
}

@media screen and (max-width: 600px) {
    .services-list {
        display: block;

        li {
            width: 100%;
        }
    }
}